<!--开发示例文件  -&#45;&#45;》 每个页面引入header文件和footer文件，中间内容都用 id="main-content" 包裹-->
<%- include('header'); -%>

<div id="main-content">
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
        <div class="row-fluid">
            <ul>
                <%= JSON.stringify(data) %>

            </ul>
            <span>热播数量 <span>56</span></span>
            <table class="table table-bordered">
                <tr>
                    <td>名字</td>
                    <td>年龄</td>
                    <td>性别</td>
                    <td>爱好</td>
                </tr>
                <% data.forEach(function(item){ %>
                   <tr><td><%= item.name %></td><td><%= item.age %></td><td><%= item.sex %></td><td><%= item.favorite %></td></tr>
                <% }); %>
            </table>
        </div>
    </div>

</div>



<%- include('footer'); -%>
